%h2 All events

- if @events.empty?
  %p События не были созданы.
- else
  %table.table.table-vertical-center
    %th date
    %th title
    %th type_repeat
    %th action
    - @events.each do |event|
      %tr{data_event_id: event.id}
        %td= event.date
        %td= link_to event.title, event
        %td= event.type_repeat
        %td
          %button.btn.btn-default.js-event-delete
            %span.glyphicon.glyphicon-trash

.text-center
  = link_to "Создать", new_event_path, class: "btn btn-primary"
