<h2>Event: "<%= @event.title %>"</h2>

<style>
  table{text-align: center;}
</style>

<table>
  <tr>
    <th>date</th>
    <th>type_repeat</th>
  </tr>
  <tr>
    <td><%= @event.date %></td>
    <td><%= @event.type_repeat %></td>
  </tr>
</table>
